body{
    background-color: #ecd0fe;
}

#logo2{
    top: 20px;
    left: 20px;
    width: 30%;
}

#container{        
    display: flex;
    gap: 2%;
    margin-top: 2%;
    justify-content: center;
    font-size: 50px;
    border-radius: 5px;
    padding: 50px 30px;
}

#container button{
    text-decoration: none;
    color: black;
    background-color: #a754e9;
    padding: 10px 25px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
